<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<form method = post action = '/bread'>
Time to pick what variety of bread you desire. <br>
<input type="radio" name="bread" value="regular"> Regular pizza crust.<br>
<input type="radio" name="bread" value="cauliflower"> Gluten Free Cauliflower crust.<br>
<input type="radio" name="bread" value="meat"> MEAT.<br>
<input type="radio" name="bread" value="none"> None?<br>
<input type="radio" name="bread" value="fred"> Fred.<br>
</form>