<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<form method = post action = '/crust'>
Time to prepare your specialized crust, select a size.<br>
Select a size:<br>
<input type="radio" name="size" value="personal"> Personal: This time, it's personal.<br>
<input type="radio" name="size" value="small"> Small: For when you're not really hungry, but you still want some 'za.<br>
<input type="radio" name="size" value="medium"> Medium: This size is attuned to the supernatural.<br>
<input type="radio" name="size" value="large" checked> Large: Our most popular size. It's the perfect size, despite being called "large".<br>
<input type="radio" name="size" value="x-large"> X-Large: The x-rated large pizza. Extra saucy, extra large.<br>
<input type="radio" name="size" value="monster"> Monster: If you finish this by yourself, you get a free hat.<br>
<input type="submit" value = 'Submit'>
</form>