<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<form method = post action = '/pizza'>
	Time to prepare your specialized crust, select a size.<br>
	Select a size:<br>
	<input type="radio" name="size" value="personal"> Personal: This time, it's personal.
	<img src="https://www.wildmikesultimatepizza.com/wp-content/uploads/2017/09/1funsize_web2.png" height = '42' width = '42'> <br>
	<input type="radio" name="size" value="small"> Small: For when you're not really hungry, but you still want some 'za. <img src="https://www.wildmikesultimatepizza.com/wp-content/uploads/2017/09/1funsize_web2.png" height = '84' width = '84'> <br>
	<input type="radio" name="size" value="medium"> Medium: This size is attuned to the supernatural. <img src="https://www.wildmikesultimatepizza.com/wp-content/uploads/2017/09/1funsize_web2.png" height = '128' width = '128'> <br>
	<input type="radio" name="size" value="large" checked> Large: Our most popular size. It's the perfect size, despite being called "large". <img src="https://www.wildmikesultimatepizza.com/wp-content/uploads/2017/09/1funsize_web2.png" height = '164' width = '164'> <br>
	<input type="radio" name="size" value="x-large"> X-Large: The x-rated large pizza. Extra saucy, extra large. <img src="https://www.wildmikesultimatepizza.com/wp-content/uploads/2017/09/1funsize_web2.png" height = '200' width = '200'> <br>
	<input type="radio" name="size" value="monster"> Monster: If you finish this by yourself, you get a free hat. <img src="https://www.wildmikesultimatepizza.com/wp-content/uploads/2017/09/1funsize_web2.png" height = '500' width = '500'> <br>
	Time to pick what variety of bread you desire. <br>
	<input type="radio" name="bread" value="regular" checked> Regular pizza crust. <img src="https://images-gmi-pmc.edge-generalmills.com/4cb4c043-e72c-49cf-ba90-99bc4e76cd7b.jpg" height = '128' width = '128'> <br>
	<input type="radio" name="bread" value="cauliflower"> Gluten Free Cauliflower crust. <img src="https://tastykitchen.com/wp-content/uploads/2013/08/Tasty-Kitchen-Blog-Cauliflower-Crust-Pizza-10.jpg" height = '128' width = '128'> <br>
	<input type="radio" name="bread" value="meat"> MEAT. <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_80116649_344560.jpg" height = '128' width = '128'> <br>
	<input type="radio" name="bread" value="no"> None? <img src="http://www.designsbybethann.com/pictures/Flowers/none%20flowers.jpg"height = '128' width = '128'>>  <br>
	<input type="radio" name="bread" value="fred"> Fred. <img src="https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/scooby-fred.jpg" height = '128' width = '128'> <br>
	Select your sauce. <br>
	<input type='radio' name='sauce[]' value='redsauce' checked > Classic Red Sauce <img src="https://www.seriouseats.com/recipes/images/2014/09/20140919-easy-italian-american-red-sauce-vicky-wasik-19.jpg" height = '128' width = '128'> <br>
	<input type='radio' name='sauce[]' value='alfredo'> Alfredo Sauce <img src="https://www.yellowblissroad.com/wp-content/uploads/2018/03/Homemade-Alfredo-Sauce-1-of-6.jpg" height = '128' width = '128'> <br>
	<input type='radio' name='sauce[]' value='riccotta'> Riccotta Cheese Sauce <img src="https://www.healthyezrecipes.com/images/xmaking-white-sauce-thumb.jpg.pagespeed.ic.PFwRnC6mL6.jpg" height = '128' width = '128'> <br>
	<input type='radio' name='sauce[]' value='pesto'> Pesto Sauce <img src="https://www.simplyrecipes.com/wp-content/uploads/2014/08/basil-pesto-vertical-a-640.jpg"height = '128' width = '128'> <br>
	<input type='radio' name='sauce[]' value='blood'> Blood <img src="http://discovermagazine.com/~/media/Images/Issues/2014/Oct/blood.jpg?mw=900"height = '128' width = '128'> <br>
	Select your cheese. <br>
	<input type='radio' name='cheese[]' value='mozzarella'checked > Mozarella Cheese <img src="https://cdn.apartmenttherapy.info/image/fetch/f_auto,q_auto,w_640,c_fit,fl_strip_profile/https://s3.amazonaws.com/pixtruder/original_images/95b3216d7ba1a003dcf3104a621d1540dfcce9b7" height = '128' width = '128'> <br>
	<input type='radio' name='cheese[]' value='feta'> Feta Cheese <img src="https://d2droglu4qf8st.cloudfront.net/2016/03/257238/recipe-1641_Large400_ID-1435982.jpg?v=1435982"height = '128' width = '128'> <br>
	<input type='radio' name='cheese[]' value='shavings'> Wood Shavings <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3831525.jpg" height = '128' width = '128'> <br>
	Select your toppings: <br>
	<input type='checkbox' name='toppings[]' value='none' > Select if None<img src="http://www.designsbybethann.com/pictures/Flowers/none%20flowers.jpg"height = '128' width = '128'> <br>
	<input type='checkbox' name='toppings[]' value='pepperoni'checked > Pepperoni <img src="https://www.vermontcountrystore.com/ccstore/v1/images/?source=/file/v6471627631357614801/products/H4507.sil.png&height=700&width=450&outputFormat=JPEG&quality=0.8"height = '128' width = '128'> <br>
	<input type='checkbox' name='toppings[]' value='sausage'>  Sausage <img src="https://assets.bonappetit.com/photos/57ad3d4c53e63daf11a4dd38/16:9/w_2560,c_limit/spicy-italian-sausage.jpg" height = '128' width = '128'> <br>
	<input type='checkbox' name='toppings[]' value='peppers'> Peppers <img src="https://www.yourhomebasedmom.com/wp-content/uploads/2013/02/Chopped-peppers.jpg" height = '128' width = '128'> <br>
	<input type='checkbox' name='toppings[]' value='onions'> Onions <img src="https://www.simplyrecipes.com/wp-content/uploads/2009/01/how-to-slice-onion-horiz-a2-1800.jpg" height = '128' width = '128'> <br>
	<input type='checkbox' name='toppings[]' value='checkeroni'> Checkeroni <img src="https://images.custommade.com/0KfvAorHJRmmQoYHXCzl0MG9rjA=/custommade-photosets/347499.1028563.jpg" height = '128' width = '128'> <br>
	<input type='checkbox' name='toppings[]' value='ricekrispies'> Rice Krispies <img src="https://target.scene7.com/is/image/Target/GUEST_17947610-a2cc-43df-984c-72bef51d7271?wid=488&hei=488&fmt=webp"height = '128' width = '128'> <br>
	<input type="submit" value = 'Submit'>
</form>