<link rel="stylesheet" href="css/style.css">
<h1> Welcome to Argioligazolistrombolizambonioli's Pizzaria</h1>
</style>
<form method = post action = '/pizza'>
	Time to prepare your specialized crust, select a size.<br>
	Select a size:<br>
	<input type = 'hidden' name = 'pizza' value = '<%= pizza %>'>
	<input type="radio" name="size" value="personal"> Personal: This time, it's personal.
	<img src="/pics/personal.png"> <br>
	<input type="radio" name="size" value="small"> Small: For when you're not really hungry, but you still want some 'za. <img src="/pics/small.png"> <br>
	<input type="radio" name="size" value="medium"> Medium: This size is attuned to the supernatural. <img src=/pics/medium.png"> <br>
	<input type="radio" name="size" value="large" checked> Large: Our most popular size. It's the perfect size, despite being called "large". <img src="/pics/large.png"> <br>
	<input type="radio" name="size" value="x-large"> X-Large: The x-rated large pizza. Extra saucy, extra large. <img src="/pics/x-large.png"> <br>
	<input type="radio" name="size" value="monster"> Monster: If you finish this by yourself, you get a free hat. <img src="/pics/monster.png"> <br>
	Time to pick what variety of bread you desire. <br>
	<input type="radio" name="bread" value="regular" checked> Regular pizza crust. <img src="/pics/regular.png"><br>
	<input type="radio" name="bread" value="cauliflower"> Gluten Free Cauliflower crust. <img src="/pics/cauliflower.png"> <br>
	<input type="radio" name="bread" value="meat"> MEAT. <img src="/pics/meat.png"> <br>
	<input type="radio" name="bread" value="no"> None? <img src="/pics/none.png">  <br>
	<input type="radio" name="bread" value="fred"> Fred. <img src="/pics/fred.png"> <br>
	Select your sauce. <br>
	<input type='radio' name='sauce[]' value='redsauce' checked > Classic Red Sauce <img src="/pics/redsauce.png"> <br>
	<input type='radio' name='sauce[]' value='alfredo'> Alfredo Sauce <img src="/pics/alfredo.png"> <br>
	<input type='radio' name='sauce[]' value='riccotta'> Riccotta Cheese Sauce <img src="/pics/ricotta.png"'> <br>
	<input type='radio' name='sauce[]' value='pesto'> Pesto Sauce <img src="/pics/pesto.png"> <br>
	<input type='radio' name='sauce[]' value='blood'> Blood <img src="/pics/blood.png"> <br>
	Select your cheese. <br>
	<input type='radio' name='cheese[]' value='mozzarella'checked > Mozarella Cheese <img src="/pics/mozarella.png"> <br>
	<input type='radio' name='cheese[]' value='feta'> Feta Cheese <img src="/pics/feta.png"> <br>
	<input type='radio' name='cheese[]' value='shavings'> Wood Shavings <img src="/pics/shavings.png"> <br>
	Select your toppings: <br>
	<input type='checkbox' name='toppings[]' value='pepperoni'checked > Pepperoni <img src="/pics/pepperoni.png"> <br>
	<input type='checkbox' name='toppings[]' value='sausage'>  Sausage <img src="/pics/sausage.png"> <br>
	<input type='checkbox' name='toppings[]' value='peppers'> Peppers <img src="/pics/peppers.png"> <br>
	<input type='checkbox' name='toppings[]' value='onions'> Onions <img src="/pics/onion.png"> <br>
	<input type='checkbox' name='toppings[]' value='checkeroni'> Checkeroni <img src="/pics/checkeroni.png"> <br>
	<input type='checkbox' name='toppings[]' value='ricekrispies'> Rice Krispies <img src="/pics/ricekrispies.png"> <br>
	<input type="submit" value = 'Submit'>
</form>