<link rel="stylesheet" href="css/style.css">
<h1> Welcome to Argioligazolistrombolizambonioli's Pizzaria</h1>
<form method = 'post' action = '/start'>
	Are you ready to begin your pizza crafting experience?
	<br>
	<input type = 'hidden' name = 'pizza' value = '<%= ["zas:"] %>'>
	<input type = 'submit' value = 'Begin'>
</form>