<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<style>
body {
    background-image: url("https://d3lawkbdj6aabd.cloudfront.net/singleplatform/image/upload/c_fit/095b2fda40625fbd7a0710500279835b37ee7221.jpg");;
    color:white;
}
</style>
<form method = 'post' action = '/start'>
	Are you ready to begin your pizza crafting experience?
	<br>
	<input type = 'hidden' name = 'pizza' value = '<%= ["zas:"] %>'>
	<input type = 'submit' value = 'Begin'>
</form>