<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<style>
body {
    background-image: url("https://d3lawkbdj6aabd.cloudfront.net/singleplatform/image/upload/c_fit/095b2fda40625fbd7a0710500279835b37ee7221.jpg");;
    color:black;
}
</style>
Ok, where do you want your pizza? <br>
<form method = post action = '/address'>
	<input type = 'hidden' name = 'pizza' value = '<%= pizza %>'>
	In-Store Pickup? <input type = 'radio' name = 'instorepickup' value = 'yes' > <br>
	Delivery? <input type = 'radio' name = 'instorepickup' value = 'no'checked > <br>
	Address if delivery: <input type = 'text' name = 'address[]' value = 'Address' >
	<input type="submit" value = 'Submit'>
</form>