<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<style>
body {
    background-image: url("https://media.fox5dc.com/media.fox5dc.com/photo/2018/09/20/getty_pizza_1537444422303_6095945_ver1.0_640_360.jpg");
    background-size:100% 100%;

    color:white;
    font-size:25;
    text-align:center;
}
</style>
Ok, where do you want your pizza? <br>
<form method = post action = '/address'>
	<input type = 'hidden' name = 'pizza' value = '<%= pizza %>'>
	In-Store Pickup? <input type = 'radio' name = 'instorepickup' value = 'yes' > <br>
	Delivery? <input type = 'radio' name = 'instorepickup' value = 'no'checked > <br>
	Address if delivery: <input type = 'text' name = 'address[]' value = 'Address' >
	<input type="submit" value = 'Submit'>
</form>