h1 {background-color:Tomato;
font-size:35;
text-align:left;
font-family: Comic Sans MS;}

body {
    background-image:url('/pics/background.png');
    background-size:100%;

    color:white;
    font-size:25;
    text-align:center;
    font-family: Comic Sans MS;
}
